<div class="fixed top-4 right-4 z-100">
     <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white">
          <mat-icon>menu</mat-icon>
     </button>

     <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/">Home</button>
          <button mat-menu-item routerLink="/about">About Me</button>
          <button mat-menu-item routerLink="/skills">Skills</button>
          <button mat-menu-item routerLink="/projects">Projects</button>
          <button mat-menu-item routerLink="/contact">Contact</button>
     </mat-menu>
</div>